<div class="sec-head">
  <span class="sec-num">// 01</span>
  <span class="sec-title">{{ title() }}</span>
  <div class="sec-rule"></div>
</div>
<div class="about-grid">
  <div [innerHTML]="aboutText()"></div>
  <div class="info-card" [innerHTML]="infoCard()"></div>
</div>

<div class="hobbies-row">
  <div class="hobbies-label">{{ hobbiesLabel() }}</div>
  <div class="hobbies-tags">
    @for (h of hobbyItems(); track h.label) {
      <span class="hobby-tag">{{ h.icon }} {{ h.label }}</span>
    }
  </div>
</div>
